.forecast {
  float: right;
}

.info-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  gap: 10px; /* Gap between each item */
}

.info-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  text-align: center;
  /* font-size: 18px; */
  color: #333;
}
