/*.forecast {
  float : middle;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 650px;
}

.info-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.info-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  text-align: center;
  color: #333;
}*/

.forecast {
  float: middle;
  background-color: white;
  border-radius: 10px;
  max-width: 60%;
}

.forecast .container {
  text-align: left;
}

.forecast .forecast-days {
  display: flex;
  justify-content: space-around;
}

.forecast .day-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  text-align: center;
}

.forecast .day-temp {
  margin-top: 10px;
}

.forecast .day-temp p {
  font-size: 16px;
  margin-bottom: 5px;
}

.forecast .day-temp img {
  width: 50px;
  height: 50px;
}

.daily-outline{
  width:100%;
}

.daily-outline th,
.daily-outline td {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  background-color: #fff;
}

.daily-days th {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 13px;
}

.daily-items td p {
  font-size: 20px;
}

.daily-images img {
  display: block;
  margin: 0 auto;
}

.daily-temp td {
  color: #333;
}

.forecast .container {
  float : middle;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
}
