.forecast{
    float: right;
}

.days-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    overflow-x: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
  }
  
  .days-list li {
    flex: 0 0 auto;
    white-space: nowrap;
    margin: 0 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .days-list img {
    width: 30px;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .days-list span {
    display: block;
    font-size: 0.9rem;
  }
  
  .day-temp {
    font-weight: 400;
  }