body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* Container for the current weather */
.current {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center content horizontally */
}

/* Top section containing weather information */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  width: 80%;
}

/* Temperature section */
.temp {
  justify-content: center;
}

/* Container for location, temperature, and description */
.info {
  position: relative;
  justify-content: center;
}

/* Left column of additional information */
.info-col1 {
  margin-left: 20px; /* Adjusted for better spacing */
}

/* Location section */
.location,
.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main temperature */
.temp h1 {
  font-size: 7rem;
  color: #333;
}

/* Right column of additional information */
.info-col2 {
  position: relative;
 
  padding-left: 10px;
}

/* Container for the daily information */
.day-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

/* Individual statistic */
.day-stat {
  display: flex;
  position: relative;
}

/* Title of the statistic */
.title {
  font-weight: bold;
}

/* Value of the statistic */
.value {
  margin-left: 5px;
  font-weight: 300;
}

/* Icon for the location */
.location-icon {
  margin-right: 0.3rem;
}

/* Font weight for emphasized titles */
.title {
  font-weight: 600;
}

/* Add media queries for responsive design */
@media (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-col1,
  .info-col2 {
    margin: 10px 0; /* Adjusted for better spacing */
  }
}
