@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* .hourly {
  
} */


 
.hourly .container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  align-content: space-around;
}

.hourly .middle {
  text-align: center;
  background-position: 100%;
  border-radius: 5px;;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.hourly .middle .hourly-title {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.hourly .hourly-outline {
  width: 100%;
  /* border-spacing: 8px; */
}

.hourly .hourly-outline th,
.hourly .hourly-outline td {
  text-align: center;
  border-radius: 10px; /* Increased border-radius for a bubble effect */
  padding: 10px;
  border: 1px solid #dadada;
  background-color: rgba(221, 221, 221, 0.1);
  /* box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.9); */
}

.hourly .hourly-times th {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 13px;
}

.hourly-items td p {
  font-size: 20px; 
}

.hourly .hourly-images img {
  display: block; /* Ensure the icons are displayed as blocks */
  margin: 0 auto; /* Center the icons horizontally within the bubble */
}

.hourly .hourly-temp td {
  color: #333;
}
/* 
@media (max-width: 768px) {
  .hourly .container {
    padding: 10px;
  }

  .hourly .hourly-outline th,
  .hourly .hourly-outline td {
    padding: 5px;
  }

  .hourly .top .hourly-title {
    font-size: 20px;
  }
} */
.hourly{
  max-width: 60%;
}